@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Signika+Negative:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: #30e87a;
    --txt-white: #fff;
    --txt-black: #000;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

